<style>
    body {
        background-image: url(./img/it.jpg);
        background-size: cover;
    }

    h1 {
        color: white;
    }
</style>

<h1>Пример использования стека технологий express, hbs, postgreSQL </h1>