<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <style>
        .list-element {
            margin: 0px 20px;
        }



        .list-item {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;


        }



        header {
            background-color: rgb(247, 191, 7);
            height: 18px;
            margin-bottom: 20px;

        }
    </style>
    <title>WebSocket_it.sea</title>
</head>

<body>

    <header>
        <nav>
            <ul class="list-item">
                <li class="list-element"><a href="/">главная</a></li>
                <li class="list-element"><a href="/users">пользователи</a></li>
            </ul>
        </nav>
    </header>

    <div>
        {{{body}}}
    </div>
</body>

</html>